* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color:aquamarine;
}
.exercise-dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.dropdown {
    width: 300px;
    height: 400px;
    border: 2px solid black;
    border-radius: 50px;
    color: black;
    line-height: 30px;
    font-weight: 10;
    padding: 20px;
    color: black;
    background-color: white;
}
.header {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}
.tt-js-milion {
    justify-content: center;
    margin-top: 20px;
    display: flex;
}
.million-js-dropdown {
    width: 150px;
    height: 30px;
    margin-left: 20px;
    text-align: center;
    border: 1px solid black;
}
.pdv-js-milion {
    display: flex;
    margin-top: 10px;
}
.body-js-dropdown {
    width: 150px;
    height: 30px;
    margin-left: 25px;
    text-align: center;
}
.People-dropdown {
    line-height: normal;
    margin-top: 20px;
    display: flex;
}
.title-people {
    width: 150px;
}
.js-input {
    text-align: center;
    margin-left: 10px;
}
.input-dropdown-people {
    width: 100px;
    height: 30px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    text-align: center;
}
.btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.tt-js-dropdown {
    width: 130px;
    height: 40px;
    border-radius: 10px;
    color: black;
    background-color: pink;
    cursor: pointer;
    border: none;
}
.end-js-dropdown {
    text-align: center;
    margin-top: 20px;
    color: black;
}
.js-select {
    width: 150px;
    margin-left: 20px;
    text-align: center;
}
h5 {
    font-weight: 10;
    color:black;
}